<div class="navbar">
    <div class="navbar-logo">
        <p>Logo</p>
    </div>
    <div class="navbar-title">
        <p>－日常に旅の学びと喜びを－</p>
        <h2>Travel Recurrent School</h2>
    </div>
    <div class="toggle-btn">
        <i class="fas fa-bars"></i>
    </div>
    <div class="navbar-list">
        <ul>
            <li><%= link_to "TOP", "/" %></li>
            <% if user_signed_in? %>
              <li>／</li>
              <li><%= link_to "LOG AUTO", "/" %></li>
            <% end %>
        </ul>
    </div>
</div>

<div class="admin-index">
    <div class="admin-index-title">
        <h1>管理者編集一覧</h1>
    </div>
    <div class="admin-index-main">
        <h2><%= link_to "学部一覧", "/" %></h2>
        <h2><%= link_to "イベント一覧", "/" %></h2>
        <h2><%= link_to "お知らせ一覧", "/" %></h2>
        <h2><%= link_to "学費一覧", "/" %></h2>
    </div>
</div>