<div class="navbar">
    <div class="navbar-logo">
        <p>Logo</p>
    </div>
    <div class="navbar-title">
        <p>日常に旅の学びと喜びを</p>
        <h2><span>T</span>ravel <span>R</span>ecurrent <span>S</span>chool</h2>
    </div>
    <div class="toggle-btn">
        <i class="fas fa-bars"></i>
    </div>
    <div class="navbar-list">
        <ul>
            <li><%= link_to "TOP", "/" %></li>
            <% if user_signed_in? %>
              <li>／</li>
              <li><%= link_to "LOG AUTO", destroy_user_session_path, :method => "delete", data: {confirm:"ログアウトしますか？"} %></li>
              <li>／</li>
              <li><%= link_to "ADMIN", "/admins" %></li>
            <% end %>
        </ul>
    </div>
</div>

<div class="admin-index">
    <div class="admin-index-title">
        <h1>管理者編集一覧</h1>
    </div>
    <div class="admin-index-main">
        <ul>
            <li><%= link_to "プロフィール", "/profiles" %></li>
            <li><%= link_to "学部一覧", "/faculties" %></li>
            <li><%= link_to "イベント一覧", "/events" %></li>
            <li><%= link_to "お知らせ一覧", "/news" %></li>
            <li><%= link_to "学費一覧", "/fees" %></li>
        </ul>
    </div>
</div>