<div class="navbar">
    <div class="navbar-logo">
        <p>Logo</p>
    </div>
    <div class="navbar-title">
        <p>－日常に旅の学びと喜びを－</p>
        <h2><span>T</span>ravel <span>R</span>ecurrent <span>S</span>chool</h2>
    </div>
    <div class="toggle-btn">
        <i class="fas fa-bars"></i>
    </div>
    <div class="navbar-list">
        <ul>
            <li><%= link_to "TOP", "/" %></li>
            <li>／</li>
            <li><%= link_to "ABOUT", "/" %></li>
            <li>／</li>
            <li><%= link_to "EVENT", "/" %></li>
            <li>／</li>
            <li><%= link_to "NEWS", "/" %></li>
            <li>／</li>
            <li><%= link_to "JOIN", "/" %></li>
            <li>／</li>
            <li><%= link_to "CONTACT", "/" %></li>
            <% if user_signed_in? %>
              <li>／</li>
              <li><%= link_to "LOG AUTO", destroy_user_session_path, :method => "delete", data: {confirm:"ログアウトしますか？"} %></li>
              <li>／</li>
              <li><%= link_to "ADMIN", "/admins" %></li>
            <% end %>
        </ul>
    </div>
</div>